body {
  background: url(/tweetolympics/texture-noise.png);
  position: relative;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#tagCloud {
  top: 100px;
  width: 300px;
  height: 300px;
  padding-left: 20px;
}

#controls {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-bottom: 10px;
}

#globe {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 700px;
  height: 700px;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1024px;
  font-size: 12px;
  color: #999;
}

svg {
  width: 1024px;
  height: 768px;
  pointer-events: all;
}

circle {
  fill: #dbe4f0;
}

path {
  fill: #aaa;
  stroke: #fff;
}


.control {
  display: inline-block;
  padding-left: 20px;
}

.control a {
  color: black;
  font-size: 12px;
  padding: 5px;
  background: #E2E2E2;
  cursor: pointer;
  margin-right: 3px;
  margin-bottom: 10px;
  text-decoration: none;
}

.control a:hover {
  text-decoration: underline;
}

.control a.active {
  color: white;
  background: #555;
}
